:root{
    --primary-dark:#111827;
    --primary-color:#EC4899;
    --txt-colr:#FDF2F8;
}

body{
    background-color: var(--primary-dark);
    color:var(--txt-colr);
}
.container{
    text-align: center;
    margin:auto;
}
input{
    width:50%;
    height:1.3rem;
    display: block;
    margin:1rem auto
}
button{
    background-color: var(--primary-color);
    border: 0.3rem soldi var(--primary-color);
    border-radius: 0.2rem;
    width:50%;
    height:1.3rem;
}